

body {
    background: radial-gradient(#c6e8f4, #6d75d0);
    min-height: 100vh;
    margin:0;
}

.wrapper {
    background: radial-gradient(rgba(116, 223, 199, 0.3), rgb(255,255,255));
    border-radius: 0.4rem;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(170,200,200, 0.5);
    padding: 1rem;
    margin:1rem;
    box-sizing: border-box;
}


.navigation {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items:center;
    box-sizing: border-box;
    padding-block-end:1rem;
}

.menu-item {
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 1.2rem;
    display: inline-block;
    border-inline-end: 0.25rem solid rgb(0,0,0);
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
   
}

.menu-item.active {
    background: #ff9494;
}

#h1 {
    color:black;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    width:70vw;
    padding-block-end: 1rem;
    margin-inline:auto;
}

#container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#vertical {
    display: flex;
    flex-direction: column;
    
}

#article1 {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    padding-block-end: 1rem;
    margin-inline:auto;
}

#article2 {
    text-transform: capitalize;
    padding-block-end: 1rem;
}
#buton {
    display: block;
    background-color: rgb(161, 203, 235);
    color:rgb(255,255,255);
    text-transform: uppercase;
    padding:0.5rem 1rem;
    border:0;
    border-radius: 0.7rem;
    margin-inline:auto;
    margin-block-end: 1rem;
}

#zona-libera {
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:1px solid black;
    height:30vh;

}

#flori { 
    margin-block: auto;
    padding-bottom: 0;
    height:90%;
    }

@media (min-width:512px) {
    .wrapper {
        width:80vw;
        height:100vh;
        margin-inline:auto;
        margin-block-start: 1rem;
        }
    #container {
        flex-direction: row;
        height:40vh;
        margin-block-end: 1rem;
        }
    header {
        flex-direction: column;
        justify-content: flex-start;
        }
    .navigation {
        width:70vw;
        justify-content:center;
        }
    #zona-libera {
        display: flex;
        margin-inline:1rem;
        border:1px solid black;
        padding:1rem;
        height:23vh;
        }
    img {
        display:inline-flex;
        order:1;
        width:auto;
        }
    #h1 {
        margin-inline-start: 1rem;
        font-size: 1.5rem;
        }
    #buton {
        display: flex;
        background-color: rgb(161, 203, 235);
        border-radius: 1ch;
        padding:0.3rem 1rem;
        color:rgb(255,255,255);
        text-transform: uppercase;
        border:0;
        font-size:0.7rem;
        margin-block: 0.7rem 0rem;
        margin-inline-start: 1rem;
        }
        
    #article1 {
        text-transform:capitalize;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0rem 1rem;
        }
    #article2 {
        text-transform: capitalize;
        margin-block-start: 0.7rem;
        font-size: 0.9rem;
        padding: 0rem 1rem;
        }
    #flori {
        margin:auto;
        width:auto;
        }
}
    
@media (min-width:718px) {
    .wrapper{
        width:60vw;
        height:100vh;
        margin-inline:auto;
        margin-block-start: 1rem;
    }
    
    #h1 {
        margin-inline-start: 0rem;
        font-size: 2.5em;
    }
    #article1 {
        text-transform:capitalize;
        font-weight: bold;
        font-size: 1.5rem;
    }
    #article2 {
        text-transform: capitalize;
        margin-block-start: 1rem;
    }
    
    header {
        padding:0;
        flex-direction: row;
        justify-content: flex-start;
    }
    #container {
        flex-direction: row;
        justify-content: space-between;
    }    

    img {
        order:3;
        width: 25vw;
        }
    #zona-libera {
        height:32vh;
        }
    #buton {
        padding:0.5rem 1rem;
        border:0;
        border-radius: 0.3rem;
        margin-inline-start: 0rem;
    }
    #flori {
        margin:auto;
        width:auto;
    }
    .navigation {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-inline: 1rem;
        box-sizing: border-box;
        border:1rem;
        gap:1rem;
        width: 100vmin;
    }

}

   