

body {
    background: radial-gradient(#c6e8f4, #6d75d0);
    min-height: 100vh;
    margin:0;
}

.wrapper {
    background: radial-gradient(rgba(116, 223, 199, 0.3), rgb(255,255,255));
    border-radius: 0.4rem;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(170,200,200, 0.5);
    padding: 1rem;
    margin:1rem;
    box-sizing: border-box;
}


.navigation {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items:center;
    box-sizing: border-box;
    padding-block-end:1rem;
}

.menu-item {
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 1.2rem;
    display: inline-block;
    border-inline-end: 0.25rem solid rgb(0,0,0);
    padding:0.3rem 0.8rem;
    border-radius: 1rem;
   
}

.menu-item.active {
    background: #ff9494;
}

#h1 {
    color:black;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    height:20%;
    width:auto;
    padding-block-end: 1rem;;
}

#container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#vertical {
    display: flex;
    flex-direction: column;
    
}

#article1 {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    padding-block-end: 1rem;
}

#article2 {
    text-transform: capitalize;
    padding-block-end: 1rem;
}
#buton {
    display: block;
    background-color: rgb(161, 203, 235);
    color:rgb(255,255,255);
    text-transform: uppercase;
    margin:0rem 0rem 1rem;
    
}

#zona-libera {
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:1px solid black;
    height:30vh;

}

#flori { 
    margin-block: auto;
    padding-bottom: 0;
    height:90%;
    }

    @media (min-width:512px) {
        flex-direction: column;
    }